.gallery {
  margin: $space-margin 0;

  &__header {
    @include main-header;
  }

  &__box {
    width: $max-width;
    margin-top: $space-gap;
    display: flex;
    flex-direction: column;
    gap: $space-standard;
    align-items: center;
    justify-content: center;

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__attribution {
    margin: $space-decent 0;
    text-transform: uppercase;

    &--pics {
      font-size: calc(#{$text-mini + $text-supersmall}/ 2);
      font-weight: 500;
      margin-bottom: $space-mini;
    }

    &--developer {
      font-size: $text-supersmall;
    }
  }
}
